body, h1, p {
    margin: 1em;
    padding: 0;
    background-color: #3498db;
}


#grid-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 2fr 1fr;
    max-width: 99%;
}


a {
    text-decoration: none;
}


#Menu {
    padding: 1.5em;
    margin: 1em;
    grid-column-start: 1;
    border: 2px solid white;
    background-color: #3498db ;
    font-size: 14.5px;
    color : #226091;

}

.PartieMenu {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 1em;
    justify-content: space-around;
    border: 2px solid white;
    background-color: #3498db;


}

#Touites {
    align-items: center;
    grid-column-start: 2;
    border: 2px solid white;
    background-color: #3498db;
    color : #226091;

}

#tags_influencer {
    grid-column-start: 3;
    padding: 1.5em;
    margin: 1em;
    border: 2px solid white;
}

#tag, #influencer {
    height: 50%;
    border: 2px solid white;
    max-font-size: 90%;
    font-size: 14.5px;
    color : #226091;
}

.profile-button {
    display: flex;
    padding: 1em;
    margin: 1em;
    justify-content: space-around;
    border-radius: 1em;
    background: white;
}

.profile-button:hover {
    background: #226091;
    color : white;
}