*{
    margin: 0;
    padding: 0;
}
body, h1, p {
    background-color: #1a1616;
    font-family: 'Montserrat', sans-serif;
    margin-right: 20em;
    margin-left: 20em;
}
/*#813bb9*/

#grid-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 2fr 1fr;
    max-width: 99%;

}

a {
    text-decoration: none;
}
img {
    max-height: 200px;
    max-width: 200px;
    display: block;
    margin: 0 auto;
}


#Menu {
    padding: 3em;
    padding-top: 0.4em;
    margin-top:  0em;
    margin-right: 1em;
    margin-left: 1em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    grid-column-start: 1;
    border: 1px solid #813bb9;
    background-color: #1a1616;
    font-size: 18px;
    color : whitesmoke;
}

#tags_influencer {
    color : #813bb9;
    padding: 3em;
    padding-top: 0.4em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    grid-column-start: 3;
    font-size: 18px;
    margin: 1em;
    margin-left: 2em;
    background-color: #1a1616;
    border: 1px solid #813bb9;

}

#Touites {
    align-items: center;
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
    padding: 1em;
    grid-column-start: 2;
    border: 1px solid #813bb9;
    background-color: #1a1616;
    color : #813bb9;
}

.PartieMenu {
    
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 1.2em;
    justify-content: space-around;
    background-color: #1a1616;
}

#logo{
    align-items: center;
}

#tag, #influencer {
    margin: 2em;
    border: 2px solid white;
    max-font-size: 90%;
    font-size: 1em;
    color : whitesmoke;
    border: 1px solid #813bb9;

}










.profile-button, .profile-button-abo {
    display: flex;
    padding: 1em;
    margin: 1em;
    justify-content: space-around;
    border-radius: 1em;
    background: #813bb9;
    color: whitesmoke;
}

.profile-button:hover {
    background: whitesmoke;
    color : #b686ef;
}

.fake-profile-button {
    display: flex;
    padding: 1em;
    margin: 1em;
    justify-content: space-around;
    border-radius: 1em;
    background: whitesmoke;
}




.touite {
    padding: 1em;
    margin-bottom: 1.5em;
    border: 1px solid #813bb9;

}

.touite p {
    margin: 0;
}

.touite p:first-child {
    font-weight: bold;
    font-size: 1.5em;
    color: whitesmoke;
    text-align: center
}

.date {
    color: #b686ef;
    text-align: end;
}

.nom {
    color: #b686ef;
    text-align: start;
}

.touite p:last-child:hover {
    background: #813bb9;
    color : white;

}