*{
    margin: 0;
    padding: 0;
}

body, h1, p {
    padding: 0;
    background-color: #3498db;
}

#grid-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 2fr 1fr;
    max-width: 99%;
}

a {
    text-decoration: none;
}

img {
    max-height: 5em;
    max-width: 5em;
}

#Menu {
    padding: 1.5em;
    margin: 1em;
    grid-column-start: 1;
    border: 2px solid white;
    background-color: #3498db ;
    font-size: 14.5px;
    color : #226091;
}

.PartieMenu {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 1em;
    border: 2px solid white;
    background-color: #3498db;
}

#logo{
    align-items: center;
}

#tags_influencer {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 4em);
    grid-column-start: 3;
    padding: 1em;
    margin: 1em;
    border: 2px solid white;
}

#tag, #influencer {
    width: 100%;
    margin: 5px;
    border: 2px solid white;
    max-font-size: 90%;
    font-size: 14.5px;
    color : #226091;
}

.profile-button, .profile-button-abo {
    display: flex;
    padding: 1em;
    margin: 1em;
    justify-content: space-around;
    border-radius: 1em;
    background: white;
}

.profile-button:hover {
    background: #226091;
    color : white;
}

#Touites {
    align-items: center;
    margin: 1em;
    padding: 1em;
    grid-column-start: 2;
    border: 2px solid white;
    background-color: #3498db;
    color : #226091;
}

.touite {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
}

.touite p {
    margin: 0;
}

.touite p:first-child {
    font-weight: bold;
}

.touite p:last-child {
    font-size: 0.8em;
    color: #777;
}

.affich{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    padding: 1em;
    border: 2px solid white;
    background-color: #3498db;
    color : #226091;
}