body {
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3498db; /* Couleur d'arrière-plan */
}

.header {
    background-color: #3498db; /* Couleur d'arrière-plan */
    color: #fff;
    padding: 20px;
}

.header img {
    max-width: 100px;
    max-height: 100px;
}

.connexion-form {
    background-color: #fff; /* Couleur d'arrière-plan */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

p {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}
