body {
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 99vh;
    background-color: #1a1616;
    font-family: 'Roboto', sans-serif;
    color: #b686ef ;

}

p {
    color: #b686ef;
}

a {
    text-decoration: none;
}

img {
    max-height: 5em;
    max-width: 5em;
}

.header {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #813bb9   ;
    color: #fff;
    padding: 10px;
}

.profiles-container {
    display: flex;
    flex-direction: row; /* Mise en ligne horizontale */
    align-items: center;
    justify-content: center;
}

.profile {
    margin: 20px;
    text-align: center;

}

.profile-button {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #813bb9;
    color: #fff;
    font-size: 22px;
    line-height: 150px;
    text-align: center;
    cursor: pointer;
    margin: 0 25px; /* Espace entre les boutons */
}

.profile-profiles {
    width: 150px; /* Augmentation de la largeur */
    height: 100px;
    border-radius: 10px; /* Plus de coins arrondis */
    background-color: #2980b9;
    color: #fff;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    margin: 20px 10px 0; /* Marge en haut, espacement horizontal */
    line-height: 100px; /* Centre le texte verticalement */
}

