body {
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3498db; /* Couleur d'arrière-plan */
}

a.back-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #3498db; /* Fond bleu clair */
    border-radius: 50%; /* Pour créer un bouton rond */
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: #fff; /* Couleur de la flèche */
    font-size: 24px; /* Taille de la flèche */
}

a.back-button:hover {
    background-color: #2980b9; /* Couleur de fond au survol */
}


.tweet-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
    padding: 20px; /* Augmentation de la marge intérieure */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Couleur d'arrière-plan */
}

.abo-container {
    font-weight: bold;
    margin-top: 0px; /* Ajustement de la marge */
    color: #3498db; /* Couleur du texte */
}

