body {
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1616;
}

.header {
    background-color: #1a1616;
    color: #b686ef;
    padding: 20px;
}

img {
    max-height: 10em;
    max-width: 10em;
}

.inscription-form {
    padding: 20px;
    border-radius: 10px;
    border: #b686ef 0.5px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

label {
    display: block;
    margin-top: 10px;
    color: whitesmoke;
}

input[type="text"],
input[type="password"],
input[type="email"]{
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #813bb9;
    border-radius: 5px;
    color : #813bb9;
    background-color: #b686ef;
}

input[type="submit"] {
    width: 100%;
    background-color: #813bb9;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

input[type="submit"]:hover {
    background-color: white;
    color : #813bb9;
}
