
body, h1, p {
    margin: 1em;
    padding: 0;
    background-color: #3498db;
}


#grid-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 2fr 1fr;
    max-width: 99%;
}


a {
    text-decoration: none;
}

 img {
     max-height: 5em;
     max-width: 5em;
 }


#Menu {
    padding: 1.5em;
    margin: 1em;
    grid-column-start: 1;
    border: 2px solid white;
    background-color: #3498db ;
    font-size: 14.5px;
    color : #226091;

}

.PartieMenu {
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 1em;
    border: 2px solid white;
    background-color: #3498db;
}

#logo{
    align-items: center;
}

#Profils {
    align-items: center;
    grid-column-start: 2;
    border: 2px solid white;
    background-color: #3498db;
    color : #226091;

}

.touite {
    border: 1px solid #ddd;
    margin: 1em;
    padding: 1em;
}

#abonne_moyenne {
    grid-column-start: 3;
    padding: 1.5em;
    margin: 1em;
    border: 2px solid white;
}

#abonne, #moyenne {
    height: 50%;
    border: 2px solid white;
    max-font-size: 90%;
    font-size: 14.5px;
    color : #226091;
}

.profile-button {
    display: flex;
    padding: 1em;
    margin: 1em;
    justify-content: space-around;
    border-radius: 1em;
    background: white;
}

.profile-button:hover {
    background: #226091;
    color : white;
}

.fake_profile-button {
    display: flex;
    padding: 1em;
    margin: 1em;
    justify-content: space-around;
    border-radius: 1em;
    background: white;
    color : #226091;

}

.carré1 {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1em;
    background: white;
    height: 25%;
    width: 25%;
    color : #226091;
}

.carré2 {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1em;
    background: white;
    height: 25%;
    width: 25%;
    color : #226091;

}

.info{
    display:grid;
    grid-gap: 1em;
    padding: 1em;
    margin: 1em;
    border: 2px solid white;
    background-color: #3498db;
    color : #226091;
}

#username, #lastname, #firstname {
    grid-column-start: 1;
    padding: 1em;
    margin: 0.5em;
    color: white;
    font-size: 20px;
}

#form_abo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    right: 0;
    padding: 1em;
    margin: 1em;
}

.abo-button {
    display: flex;
    padding: 1em;
    margin: 1em;
    justify-content: space-around;
    border-radius: 1em;
    background: white;
}

.abo-button:hover {
    background: #226091;
    color : white;
}

.fake_abo-button {
    display: flex;
    padding: 1em;
    margin: 1em;
    justify-content: space-around;
    border-radius: 1em;
    background: white;
    color : #226091;

}

.touite {
    display: grid;
    flex-direction: column;
    padding: 1em;
    margin: 1em;
    border: 2px solid white;
    background-color: #3498db;
    color : #226091;
}

.touite a, .touite p, .touite img {
    grid-column-start: 1;
}

